extends layout

block content
  h1 Biblioteca local
  p Biblioteca Implementada pelos Alunos Tiago Abilio e Ramon Gomes do IV bloco de computação a pedido do professor Douglas Krid.


  h1 Conteúdo dinâmico

  if error
    p Erro ao obter conteúdo dinâmico.
  else

    p A biblioteca tem as seguintes contagens de registros:

    ul
      li #[strong Books:] !{data.book_count}
      li #[strong Copies:] !{data.book_instance_count}
      li #[strong Copies available:] !{data.book_instance_available_count} 
      li #[strong Authors:] !{data.author_count}
      li #[strong Genres:] !{data.genre_count}